{% extends "base.html" %}

{% block title %}<title>Drivers List</title>{% endblock %}

{% block content %}
<h1 class="my-4">Drivers</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>License</th>
        </tr>
    </thead>
    <tbody>
        {% for driver in driver_list %}
        <tr>
            <td>{{ driver.id }}</td>
            <td>
                <a href="{% url 'taxi:driver-detail' driver.id %}">
                    {{ driver.first_name }} {{ driver.last_name }}
                </a>
            </td>
            <td>{{ driver.license_number }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No drivers found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block pagination %}
{% include "includes/pagination.html" with page_obj=page_obj %}
{% endblock %}
